.footer {
    height: 150px;
    background-color: rgb(59, 56, 56);
    color: rgb(203, 203, 203);
    text-align: center;
    position: relative;
}
.footer > h4 {
    text-align: center;
    position: relative;
    top: 50px;
}

/* tablets */
@media screen and (max-width: 767px){
    .footer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 7px; 
          
    }
    .profile{
        margin-top: 20px;
    }
}

/* tablets */
@media screen and (max-width: 540px){
    .footer{
        display: grid;
        grid-template-columns:  1fr;
        gap: 7px; 
    }
    .profile{
        margin-top: 20px;
    }
}